body {
  background: rgb(0, 0, 0);
}

.header {
  padding: 0.7cm;
  font-size: 30px;
  background: rgb(0, 33, 117);
  color: rgb(255,223,0);
  text-align: center;
}

.links {
  text-align: center;
  position:center;
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.text {
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.thumbnail-image {
text-align: center;
margin-top: 30;
width: 30%;
}

.footer {
padding: 0.7cm;
font-size: 30px;
text-align: center;
background: rgb(0, 33, 117);
color: rgb(255,223,0);
}
