body {
  background: rgb(0, 0, 0);
}

.header {
  padding: 0.7cm;
  font-size: 30px;
  background: rgb(0, 33, 117);
  color: rgb(255,223,0);
  text-align: center;
}

.navbar {
  letter-spacing: 2px;
  text-align: center;
  position: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(0, 255, 0);
}

.text {
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.thumbnail-image {
text-align: center;
width: 30%;
}

.footer {
padding: 0.7cm;
font-size: 30px;
background: rgb(0, 33, 117);
color: rgb(255,223,0);
text-align: center;
}
