body {
  display: flex;
  flex-direction: column;
  font-family:;
  background: rgb(0, 0, 0);
}

.header {
  padding: 0.7cm;
  font-size: 30px;
  background: rgb(0, 33, 117);
  color: rgb(255,223,0);
}

.navbar {
  height: 100px;
  width: 550px;
  list-style: none;
  padding: 10px;
  margin-top: 10px;
  letter-spacing: 2px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(0, 255, 0);
}

.text {
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.thumbnail-image {
width: 30%;
}

.form {

}

.footer {
padding: 0.7cm;
font-size: 30px;
background: rgb(0, 33, 117);
color: rgb(255,223,0);
}
