html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(0, 0, 0);
  font-family: 'Roboto', sans-serif;
}

.header {
  padding: 0.7cm;
  font-size: 30px;
  background: rgb(0, 33, 117);
  color: rgb(255,223,0);
  text-align: center;
}

#navbar {
margin-left: auto;;
margin-right: auto;

}

#navbar {
  width: 450px;
  height: 60px;
  padding: 1px;
  background: rgb(68,0,0);
}

ul#nav li {
  color: rgb(255,255,255);
  letter-spacing: 0.2em;
  display: block;
  float: left;
  height: 17px;
  margin: 10px 0 0 10px;
  padding: 9px 26px 6px 26px;
  text-align: center;
}

a:visited {
  color: rgb(255,255,255);
}

a:hover {
  color: rgb(255,223,0);
}

.text {
  font-size: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.cvtext {
  color: rgb(255,255,255);
}

.thumbnail-image {
width: 30%;
margin-left: 35%;
}

form {
border: solid black 1px;
padding: 2em;
width: 20%;
margin left: 35%;
background-color: gold;
}

.text2 {
  font-size: 20px;
  margin left: 10%;
  color: rgb(255, 255, 255);
}

.text3 {
  font-size: 20px;
  margin left: 80%;
  color: rgb(255, 255, 255);
}

.footer {
padding: 0.7cm;
font-size: 30px;
background: rgb(0, 33, 117);
color: rgb(255,223,0);
text-align: center;
}
